.popup{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.85);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.popup-content{
    width:90%;
    max-width:500px;
    border-radius:20px;
    overflow:hidden;
    background:#111;
}

.popup video{
    width:100%;
    display:block;
}

.popup-buttons{
    display:flex;
    justify-content:space-around;
    padding:20px;
}

.join-btn,
.close-btn{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:white;
    color:black;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
}
